.overlay{
    position:absolute;
    top: 50%;
    left: 25%;
    color: rgb(245, 235, 235);
    text-shadow: 2px 2px 6px;
  }

 .main{
    position: absolute;
    border: 4px ridge white;
    padding: 70px;
    top: 100px;
    left: 39%;
    right: 9%;
   
    box-shadow: 2px 3px 5px  rgb(184, 183, 183);
  }
  h1{

    text-align:justify;
    font-size: x-large;
    margin: 10px;
    color: black;
    }
    
    
   
    #map{
      color: black;
 position: absolute;
        top: 50%;
        left: 35%;
        color: black;
      
    }
    h1{
    text-align: center;
    font-size: xx-large;
    }
    h3{
      text-align: center;
    }
    
    form{
      width: 400px;
      margin-left: 530px;
  }
  .input{
      display: flex;
      width:100%;
  }
  
 
    .gallery{
      margin-top: 100px;
    
      margin-left: 300px;
    
    }
    .gallery img{
      width: 300px;
      height:300px ;
     
      margin:20px;
      transition: width s,height 2s;
    }
    .gallery img:hover{
      box-shadow: 4px 5px 6px;
      width: 350px;
      height: 250;
    }
    #pic{
      margin-left: 300px;
      transition: width s,height 2s;
    }
    
  
    
   #topic{
      
      margin-left:300px;
      margin-right:   100px;
     text-align: center;
     
    }
    .col{
      background-color: bisque;
    }
      
    
  .col-3{
     
      color: rgb(200, 200, 200)
      
  }

    .input{
      display: flex;
      width:100%;
  }
  button{
    padding-left: 40%;
   }
   button:hover{
   box-shadow:3px 4px 7px  rgb(70, 70, 70) ;
    
   }
    
    .col-3{
      background-color: rgb(211, 211, 211);
    }
    .col-3 :hover{
      
  
        box-shadow: 2px 3px 5px  rgb(80, 79, 79);
    }
    h2{
      color: black;
    }
    h5{
      text-align:center;
      
    }
    h3{
      color: lightslategray;
    }




    
@media screen and (max-width:400px){
  *{
    padding: 0px;
    margin: 0px;
      font-family: 'Crimson Text', serif;
  }
  nav{
padding: 0px;
width: 100%;
margin: 0px;

 }
 
 .main{
  position: absolute;
  border: 4px ridge white;
  padding: 70px;
  top: 100px;
  left: 9%;
  right: 9%;
 }
 #map img{
  padding: 0px;
    padding-top: 450px;
    margin-top: 450px;
    margin: 0px;
  }
   
  .col-3{
    
    padding: 0px;
    padding-top: 10px;
    margin-top: 10px;
    margin: 0px;
    
}
.row{
 
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-left: 0px;
  } 

  #topic{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
   margin-left: 0px;
    padding: 0px;
    padding-left: 0px;
  
  } 
  .gallery{
    margin: 0px;
    margin-left: 45px;
  }
  .gallery img{
    margin: 0px;
    width: 300px;
  height: 200px;
  }
  .box{
    margin: 0px;
    width: 300px;
    height: 700px;
    margin-left: 40px;
  }
  .box img{
    width: 100%;
  height: 250px;
  
  }

}







  
    
    

    
  
    
